@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@font-face {
    font-family: 'flamengo';
    src: url(url(../EB_Garamond/EBGaramond-VariableFont_wght.ttf));
}

h1{
    font-family: 'flamengo', sans-serif;
}
p#import{
    font-family: "PT Serif", serif;
}
p#link{
    font-family: "PT Serif", serif;
 
}
/* Configuração das fontes do texto do site */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    max-width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2) ) url(../images/estacao-de-detalhamento-de-lavagem-de-carro.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;
}
/*
CORES 

#3C57F0
#FFFFFF
#ABABAB
#1C1C1C



