@charset "UTF-8";

/* Configuração das fontes do texto do site */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@font-face {
    font-family: 'fonte 1';
    src: url(../Fontes/EBGaramond-Italic-VariableFont_wght.ttf)
}

h1{
    font-family: 'fonte 1', sans-serif;
}

p#import{
    font-family: "PT Serif", serif;
}
p#link{
    font-family: "PT Serif", serif;
 
}

div.title a{
    font-size: max(16px, 1.8vw);
    color: #fff;
    text-decoration: none;
    padding: 20px 80px;
    border-radius: 6px;
    font-weight: 600;
    background: linear-gradient( to bottom,  #89f7fe, #66a6ff);
    display: inline-block;
}
div.title a:hover{
    opacity: .8;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Configurando a imagem principal da tela inicial  */
header{
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url('../images/HeaderCapa.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    

    position: relative;

    }
/* Estilizando a logo no canto superior e os botões do topo da página */

header nav#nav-esq{
    width: 100%;
    height: 150px; 
    
    display: flex;
    flex-flow: row ;
    align-items: center;
}

header nav#nav-esq div#logo{
    width: 100px;
    height: 120px;
    margin-left: 5rem;
}

header nav#nav-esq div#logo img{
    max-width: 100%;
    max-height: 100%;
}
header nav#nav-esq ul#menu-principal{
    margin-left: 5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-flow: row wrap;
}
header nav#nav-esq ul#menu-principal li{
    list-style: none;    
    margin-right: 2rem;
}
header nav#nav-esq ul#menu-principal li a{
    text-decoration: none;
    color: #fff;
    font-size: large;
    text-shadow: 4px 6px 10px #000;
    padding-bottom: 10px;
    transition: .3s ease-out;
}
header nav#nav-esq ul#menu-principal li a:hover{
    border-bottom: 1px solid #fff;
    opacity: .6;
}
/* Ajeitando o título da página inicial */
header div.title{
    position: absolute;
    width: 100%;
    height: 300px;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header div.title h1{
    color: #fff;
    font-size: 55px;
}
header div.title h2{
    color: #abdbe3;
    margin-bottom: 55px;
}
 /* ajeitando o texto e o título da página "Sobre" */

 
.sobre1{
    width: 1140px;
    margin: auto;
    transform: translateX(-6%);
}
.sobre1 h1{
    font-weight: bold;
    color: #66a6ff; 
    font-size: 50px;
    text-align: center;
    margin-top: 67px;  
    transform: translateX(-10%); 
}

.sobre2{
    width: 80%;
    max-width: 900px;
    border: 2px solid #333;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
    text-align: center;
    transform: translateY(20%);
}

.sobre2 h1{
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
    color: #abdbe3;
    margin-bottom: 15px;
    transform: translateX(-1.5%);
   
}
.sobre2 p{
    text-align: justify; 
    font-size: 18px;
    color: #fff;
    margin-top: 0;
}

/* .fotopai{
    float: center;
    overflow: hidden;
    transform: translatey(-2,5%);
} */

/* elementos da tela de Perfil */
.container {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    display: flex;
    box-shadow: 0 1px 20px #1c1c1c; 
}
.container .esquerdap{
    width: 35%;
    background: #1c1c1c;
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}
.container .esquerdap img{
    margin-bottom: 10px;
    border-radius: 5px;
}
.container .esquerdap h4{
    margin-bottom: 10px;
}
.container p{
    font-size: 12px;
}
.container .direitap{
    width: 65%;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 25px;
}
.container .direitap .info, 
.container .direitap .agendamentos{
    margin-bottom: 25px;
}
.container .direitap .info h3, 
.container .direitap .agendamentos h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #1c1c1c;
    color: #292828;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.container .direitap .info_data,
.container .direitap .agen_data{
    display: flex;   
    justify-content: space-between;
}
.container .direitap .info_data .data,
.container .direitap .agen_data .data{
    width: 45%;
}
.container .direitap .info_data .data h4,
.container .direitap .agen_data .data h4{
    color: #292828;
    margin-bottom: 5px;
}
.container .direitap .info_data .data p,
.container .direitap .agen_data .data p{
    font-size: 13px;
    margin-bottom: 10px;
    color: #1c1c1c;

}
/* elementos presentes na tela de "Serviços" */
.containerser{
    width: 90%;
    margin: auto;
}
.cabecalho{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    color: #fff;
    text-decoration: underline;
    transform: translate(-10%, 40%);
}
.services-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #1c1c1c;
    transform: translate(-10%, 30%);
    
}
.service-card{
    width: 350px;
    border: 1px solid #232323;
    padding:20px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}
.service-card h2{
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
    
}
.service-card p{
    font-size: 15px;
    color: #fff;
    display: inline-block;

}
header nav#nav-esq ul#menu-principal2{
    margin-left: 5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    display: inline-block;
}
header nav#nav-esq ul#menu-principal2 li{
    list-style: none;    
    margin-right: 2rem;
}
header nav#nav-esq ul#menu-principal2 li a{
    text-decoration: none;
    color: #fff;
    font-size: large;
    text-shadow: 4px 6px 10px #000;
    padding-bottom: 10px;
    transition: .3s ease-out;

}
header nav#nav-esq ul#menu-principal2 li a:hover{
    border-bottom: 1px solid #fff;
    opacity: .6;
}

/* Elementos da tela "Meus pontos" */
.conjuntopontos{
    position: absolute;     
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1c1c1c;
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
    color: white;            
    width: 60%;
    max-width: 500px;
}

.conjuntopontos h1{
    font-size: 32px;
    margin-bottom: 10px;
}

.conjuntopontos p{
    font-size: 18px;
}
.titleponts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;         
    color: white;
}
.icon-star {
    width: 30px;        
    height: 30px;
}   













